*{
    margin:0;
    padding:0;
}
.block1 {
    position: absolute;
    width:200px;
    height:100px;
    background:red;
}
.block2 {
    position: absolute;
    width:200px;
    height:100px;
    background:blue;
    animation: anim2 9s infinite;
}
@keyframes anim2 {
    from,to {
        transform: translateX(0) translateY(0);
    border-radius: 0;
    border: none;
    }
    25% {
        transform: translateX(300px) translateY(650px);
        background:#00FF00;
        border-radius: 50%;
        border: 5px solid yellow;
        width:200px;
        height:200px;
    }
    50% {
        transform:translateX(0) translateY(1200px);
        border-radius: 0;
        border:none;
    }
    75% {
        transform: translateX(0) translateY(0);
    }
}
.block3 {
    position: absolute;
    width:200px;
    height:200px;
    border-radius:50%;
    background:black;
    animation: anim3 5s infinite;
}

@keyframes anim3 {
    from, to {
        transform: translateX(50px) translateY(50px);
    }
    25% {
        transform: translateX(1200px) translateY(450px) skew(40deg, 20deg);
    }
    50% {
        transform: translateX(1200px) translateY(50px);
    }
    75% {
        transform: translateX(50px) translateY(450px);
    skew( )
    }
}
.block4 {
    position: absolute;
    width: 200px;
    height: 100px;
    background: deeppink;
    animation: anim4 10s infinite;
}


@keyframes  anim4 {
    from,   to {
        transform: translateX(50px) translateY(50px);
    }
    25% {
        transform: translateX(1200px) translateY(50px) scale(1.5);
    }
    50% {
        transform: translateX(1200px) translateY(450px);
    }
    75% {
        transform: translateX(50px) translateY(450px) rotate(360deg);
    }
}

#header{
    height: 100vh;
}

#text {
    justify-content: center;
    align-items:center;
    display:flex;
    background: #090808;
    height:100vh
}

#text h1{
    font-size: 40px;
    margin: 0 25px;
}

#text h1:nth-child(1) {
    color:orange;
    animation: html 5s infinite;
}

@keyframes html {
    0%, 100%{
        opacity:1;
        transform:scale(1);
    }
    40% {
        opacity: 1;
        transform: scale(2);
        color: #00FF00;
    }
    80% {
        opacity:.2;
        transform: scale(.3);
        color:#fff;
    }
}
#text h1:nth-child(2) {
    color: #252591;
    animation: css 7s infinite;
}

@keyframes css {
    0%, 100%{
        transform:rotate(0);
    }
    25% {
        transform: rotate(360deg) skew(10deg, 20deg) scale(4);
    }
    50% {
        transform:rotate(360deg) ;
    }
}
#text h1:nth-child(3) {
    color: yellow;
}
#text h1:nth-child(4) {
    color: #991414;
}

span {
    transform: scale(1);
    animation:span 4s infinite;
}
 @keyframes span {
     0%, 100% {
         transform: scale(1);
     }
     50% {
         transform: scale(2);
         font-size:60px;
     }
 }


